[tool.black]
line-length = 88
target-version = ['py310']
include = '\.pyi?$'

[tool.isort]
profile = "black"
line_length = 88

[tool.flake8]
max-line-length = 120
ignore = ["E203", "W503", "F401", "F541", "F841", "E722", "E402", "F824", "E501"]
exclude = [".git", "__pycache__", "*.egg-info", "build", "dist"]
